body{
    padding: 30px;
    background-color: black;
}
header h1{
    color: red;
    font-size: 40px;
    text-align: center;
}

span{ 
    color: white;
}
main{
    color: rgb(245, 242, 242);
    text-align: justify;
    font-size: 20px;
}
div h1{
    color: white;
    text-align: center;
}
footer{
    color: rgb(250, 43, 43);
    text-align: center;
    padding: 30px;
    font-size: 25px;
    
}
footer span{
    color: red;
}
div{
    text-align: center;
    display: block;
   
}
h2{
    text-align: center;
}
video{
    width: 600px;
    height: 500px;
    display: inline-block;
    padding: 10px;
    background-color: rgb(235, 235, 241);
    border-radius: 20px;
}

@media (width < 700px)
{
    video{
        width: 300px;
        height: 400px;
        border-radius: 20px;
    }
    footer{
        font-size: 15px;
        padding: 30px;
        
    }
    header h1{
        font-size: 30px;
    }
div h1{
    font-size: 25px;
}
}
p{
    text-align: justify;
}
hr{
    margin-top: 20px;
}